
.block{
    background: radial-gradient(green,white,blue);
    border: transparent solid 1px;
    width: 1000px;
    height: 1000px;

}
.text{
    text-align: center;
    margin-top: 400px;
    font-size: 40px;
}
