.animation{
    margin-top: 200px;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    transition: all 5s ease-in-out;
    border-radius: 8px;

}
.animation:hover{
    transform: translate(0,-100px) rotate(360deg) scale(0.6,0.6);
    margin-left: 300px;
    /*margin-bottom: 110px;*/
    animation-name:animation ;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    background-color: #3be3eb;
    /*animation-direction: alternate-reverse;*/
    /*transform: rotate(360deg);*/
    transition: 3s;
}
@keyframes animation {
    0%{
        background-color: greenyellow;
    }
    50%{
        background-color: hotpink;
    }
    100%{
        background-color: #3be3eb;
    }

}
